{{ define "main" }}
<div class="mb-4 mt-4 py-5">
    <h1 class="display-5 fw-bold">Hello 👋 it's Metin's Space!</h1>
    <p class="col-md-9 fs-4">Software developer since 2007, currently working at <a href="https://ridedott.com/">Dott</a> and living in Amsterdam, member of <a href="https://developers.google.com/community/experts/directory/profile/profile-metin-seylan">Google Cloud Expert</a>, previously worked for
        <a href="https://getir.com">Getir</a>, focusing distributed systems and cloud computing.
    </p>
</div>

<div>
    <h2 class="h2">OpenSource Projects</h2>
    <ul class="opensource-list">
        <li><a href="https://github.com/MetinSeylan/Nestjs-OpenTelemetry">NestJS OpenTelemetry</a></li>
        <li><a href="https://github.com/MetinSeylan/Vue-Socket.io">Vue-Socket.io</a></li>
    </ul>
</div>

<div class="my-5">
    <h2 class="h2">Recent Blog Posts</h2>
    <p>Loading...</p>
</div>

<div class="my-5">
    <h2 class="h2">Contact Links</h2>
    <ul class="opensource-list">
        <li><a href="https://twitter.com/MetinSeylan">MetinSeylan on Twitter</a></li>
        <li><a href="mailto:metinsyln@gmail.com">metinsyln@gmail.com</a></li>
    </ul>
</div>
{{ end }}